{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img src="/media/{{product.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{product.price}} рублей</li>
    <li class="list-group-item">{{product.quantity}} шт.</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
{% endblock %}
